@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #ff1d1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .custom-bg {
    @apply py-6 px-4 rounded-xl border border-solid border-red-600/50 shadow-glass-inset cursor-pointer hover:shadow-glass-sm backdrop-blur-md;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 300px);
  }
}
